@inherits LayoutComponentBase
<div style="display: flex; height: 100%">
    <div style="background-color: #000000; width: 10vw; height: 100dvh">
        <div class="menuButton">Add income</div>
        <div class="menuButton">Add expense</div>
    </div>
    <main>
        @Body
    </main>
</div>
