@page "/expensesandincome"
@inject Portfolio portfolio
@inject IDialogService DialogService
@using MyFinanceMudUI.Components.Charts


<MudContainer MaxWidth="MaxWidth.ExtraLarge">
    <div style="display: flex; flex-direction: row; flex-wrap: wrap; gap: 2vh; padding: 48px">

        <DonutChart ChartData="portfolio.ExpenseWithTypes" DialogTitle="Add an expense." T="ExpenseDialog" U="ExpenseType" />
        <DonutChart ChartData="portfolio.IncomeWithTypes" DialogTitle="Add an income." T="IncomeDialog" U="IncomeType" />


    </div>
</MudContainer>



@code {
  
}